src/test/resources/dataset.dtd

<!ELEMENT dataset (
    weekly_reports*,
    vehicle_usages*,
    weekly_users*,
    user_roles*
    )>
    
<!ELEMENT weekly_users EMPTY>
<!ATTLIST weekly_users
    id CDATA #REQUIRED
    version CDATA #REQUIRED
    account_non_expired CDATA #IMPLIED
    account_non_locked CDATA #IMPLIED
    credentials_non_expired CDATA #IMPLIED
    enabled CDATA #IMPLIED
    password CDATA #IMPLIED
    username CDATA #IMPLIED
    firstName CDATA #IMPLIED
    lastName CDATA #IMPLIED
    email CDATA #IMPLIED
    phoneNumber CDATA #IMPLIED
    website CDATA #IMPLIED
    address CDATA #IMPLIED
    city CDATA #IMPLIED
    province CDATA #IMPLIED
    country CDATA #IMPLIED
    postalCode CDATA #IMPLIED
>
<!ELEMENT weekly_reports EMPTY>
<!ATTLIST weekly_reports
    id CDATA #REQUIRED
    version CDATA #REQUIRED
    project_name CDATA #IMPLIED
    author_id CDATA #IMPLIED
    from_date CDATA #IMPLIED
    to_date CDATA #IMPLIED
    work_place CDATA #IMPLIED
    done_works CDATA #IMPLIED
    todo_works CDATA #IMPLIED
    comment CDATA #IMPLIED
    status CDATA #IMPLIED
    memo CDATA #IMPLIED
    submit_date CDATA #IMPLIED
    comment_date CDATA #IMPLIED
>
<!ELEMENT vehicle_usages EMPTY>
<!ATTLIST vehicle_usages
	id CDATA #REQUIRED
	version CDATA #REQUIRED
    report_id CDATA #REQUIRED
    driver CDATA #IMPLIED
    end_mileage CDATA #IMPLIED
    start_date CDATA #IMPLIED
    from_place CDATA #IMPLIED
    license_plate_number CDATA #IMPLIED
    start_mileage CDATA #IMPLIED
    to_place CDATA #IMPLIED
>


<!ELEMENT user_roles EMPTY>
<!ATTLIST user_roles
    user_id CDATA #REQUIRED
    role_name CDATA #IMPLIED
>


